# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Chevrusalem.iml
# Datasource local storage ignored files
/../../../../../../../../../:\User\0_JayBee\ETPA\_projetJeu\Chevrusalem\.idea\.idea.Chevrusalem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
